cscope.files
cscope.out
TAGS
*.diff
.*.swp
*~
\#*
.#*
*-ori
/*.cpx
/patches
*stamp
aclocal.m4
autogen.sh
autom4te.cache/
config-h.in
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
/COPYING
/TODO
stamp*
/autotool-chaff.txt
/pkg/libopts/stdnoreturn.mk
/Makefile.am
/NEWS
/
/agen5/Makefile.in
/agen5/ag-text.c
/agen5/ag-text.h
/agen5/ag_fmemioctl.3
/agen5/ag_fmemopen.3
/agen5/autogen.1
/agen5/cgi-fsm.h
/agen5/defParse-fsm.c
/agen5/defParse-fsm.h
/agen5/directive.c
/agen5/directive.def
/agen5/directive.h
/agen5/expr.def
/agen5/expr.h
/agen5/expr.ini
/agen5/fmemopen.def
/agen5/functions.def
/agen5/functions.h
/agen5/guile-iface.h
/agen5/invoke-autogen.menu
/agen5/invoke-autogen.texi
/agen5/opts.c
/agen5/opts.h
/agen5/proto.h
/agen5/pseudo-fsm.h
/agen5/test/Makefile.in
/autoopts/Makefile.am
/autoopts/test/Makefile.in
/columns/Makefile.in
/columns/ag-opts-4099.log
/columns/opts.c
/columns/opts.h
/columns/proto.h
/compat/Makefile.in
/compat/strsignal.h
/configure
/configure.ac
/doc/Makefile.in
/getdefs/Makefile.in
/getdefs/proto.h
/getdefs/test/Makefile.in
/snprintfv/Makefile.in
/snprintfv/filament.h
/snprintfv/printf.h
/snprintfv/stream.h
/xml2ag/Makefile.in
/xml2ag/test/Makefile.in
