#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_OPTIONS=

CONFIGUREFLAGS=$(if $(findstring debug,$(DEB_BUILD_OPTIONS)),--enable-debug,)
CFLAGS=$(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),-O0,-O2)
export CFLAGS

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure $(CONFIGUREFLAGS) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info
	touch $@

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	$(MAKE) check
	$(MAKE) -C doc autogen.ps info
	( cd doc ; \
	  test ! -d html || rm -rf html ; \
	  texi2html -split=chapter -subdir=html autogen.texi ; \
	  test -d html || { mkdir html ; \
	    set -- *.html ; test ! -f $${1} || mv $$* html/. ; } \
	)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f install-stamp build-stamp configure-stamp
	rm -f snprintfv/snprintfv.h
	rm -Rf doc/html
	find -name '*.tar.gz' | xargs rm -f
	-$(MAKE) distclean
	dh_clean
	for f in `find -name config.sub` ; do		\
		cp -f /usr/share/misc/config.sub $$f ;	\
	done
	for f in `find -name config.guess` ; do		\
		cp -f /usr/share/misc/config.guess $$f ;\
	done

install: build
install: install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install prefix=$(CURDIR)/debian/tmp/usr
	find . -type f | grep 'tar.gz' | xargs rm
	dh_movefiles
	touch $@

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installinfo
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
