/Makefile.am
/ag-char-map.h
/ao-strs.c
/ao-strs.h
/autoopts
/autoopts-config
/autoopts-config.in
/funcs.def
/genshell.c
/genshell.h
/gettext.h
/gnulib.mk
/intprops.h
/libopts-*.tar.gz
/libopts.c
/libopts.menu
/libopts.texi
/mk-autoopts-pc
/mk-autoopts-pc.in
/option-value-type.c
/option-value-type.h
/option-xat-attribute.c
/option-xat-attribute.h
/parse-duration.c
/parse-duration.h
/pkgconfig
/po
/proto.h
/stdnoreturn.in.h
/test/defs
/tpl/man2man
/tpl/man2mdoc
/tpl/man2texi
/tpl/mdoc2man
/tpl/mdoc2mdoc
/tpl/mdoc2texi
/tpl/texi2man
/tpl/texi2mdoc
/tpl/texi2texi
/tpl/tpl-config.tlib
