/ag-char-map.h
/ao-strs.c
/ao-strs.h
/autoopts
/autoopts-config.1
/autoopts-config.in
/funcs.def
/genshell.c
/genshell.h
/gettext.h
/gnulib.mk
/intprops.h
/mk-autoopts-pc.in
/option-value-type.c
/option-value-type.h
/option-xat-attribute.c
/option-xat-attribute.h
/parse-duration.c
/parse-duration.h
/po
/proto.h
/stdnoreturn.in.h
/tpl/man2mdoc
/tpl/man2texi
/tpl/mdoc2man
/tpl/mdoc2texi
/tpl/texi2man
/tpl/texi2mdoc
/Makefile.am
