/00gnulib.m4
/ag_macros.m4
/config.rpath
/depcomp
/extensions.m4
/gendocs.sh
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/guile.m4
/lib-link.m4
/libopts.m4
/onceonly.m4
/pkg.m4
/snprintfv.m4
/stdnoreturn.m4
/test-driver
/texinfo.tex
